@font-face {
  font-family: 'Micro5';
  src: url('../Assets/Fonts/Micro5.woff2') format('woff2');
}

@font-face {
  font-family: 'Minecraftia';
  src: url('../Assets/Fonts/MinecraftiaReg.woff2') format('woff2');
}

@font-face {
  font-family: 'MinecraftTen';
  src: url('../Assets/Fonts/MinecraftTen.woff2') format('woff2');
}

@font-face {
  font-family: 'SGA';
  src: url('../Assets/Fonts/SGA.woff2') format('woff2');
}



#searchtxt {
  background-color: #110735;
  color: white;
  font-size: 200%;
  font-family: 'Micro5', sans-serif;
}

.navmain a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    justify-content: center;
}

