
  .footer-link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
  radial-gradient(circle at 30% 20%, rgba(139, 92, 246, 0.3) 0%, transparent 50%),
  radial-gradient(circle at 70% 80%, rgba(59, 130, 246, 0.2) 0%, transparent 50%);
}

@font-face {
  font-family: 'Micro5';
  src: url('../Assets/Fonts/Micro5.woff2') format('woff2');
}

@font-face {
  font-family: 'Minecraftia';
  src: url('../Assets/Fonts/MinecraftiaReg.woff2') format('woff2');
}

@font-face {
  font-family: 'MinecraftTen';
  src: url('../Assets/Fonts/MinecraftTen.woff2') format('woff2');
}

@font-face {
  font-family: 'SGA';
  src: url('../Assets/Fonts/SGA.woff2') format('woff2');
}

@font-face {
  font-family: 'Motiva Sans';
  src: url('../Assets/Fonts/MotivaSansBold.woff2') format('woff2');
}



.navbar {
  height: 3.6rem;
}

.nav-item {
  list-style-type: none;
  padding-top: 1%;
}

#navgam {
  margin-right: 50px;
  height: 40px;        /* atur sesuai tinggi navbar */
  width: auto;         /* biar proporsional */
  object-fit: contain;
  padding-bottom: 5%;
  padding-left: 35%;
  align-items: center;

}

.nav-link {
  object-fit: contain;
  width: auto;
  height: auto;

}

.btn.login {
  background-color: white;
}

.btn.browse-more {
  background-color: transparent;
  border: 2px solid #8b5cf6;
  color: #8b5cf6;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: background-color 0.3s, color 0.3s;
}

#searchtxt {
  background-color: #110735;
  color: white;
  font-size: 115%;
  font-family: 'Micro5', sans-serif;
}

.navmain a {
  color: white;
  text-decoration: none;
  margin-right: 0.9375rem; /* 15px → rem */
  justify-content: center;
}

#navte {
  font-size: medium;
  margin-right: 1.5625rem; /* 25px → rem */
  color: white;
  font-family: 'MotivaSansBold', sans-serif;
font-style: normal;
text-transform: uppercase;
}

#navte:hover {
  color: #0988FF;
  text-decoration: underline;
}
